---
import { getCollection } from 'astro:content';

import GithubIcon from '~icons/ri/github-fill';
import ExternalLinkIcon from '~icons/ri/external-link-line';

import { socialLinks, projects } from '@utils/helpers';
import BaseLayout from '@layouts/BaseLayout.astro';
import SnippetBlogPostSummary from '@components/SnippetBlogPostSummary.svelte';

const featuredSnippetsPosts = await getCollection('snippets', (stuff) => {
  // we only need featured posts
  return stuff.data.isFeaturedPost;
});
---

<BaseLayout
  meta_title="Tyson Suttle"
  meta_description="Learn about Tyson Suttle"
>
  <div class="container pt-9">
    <div class="max-w-2xl">
      <h1
        class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
      >
        Hi, I'm Tyson Suttle
      </h1>
      <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
        I'm a Full Stack Software Developer based in Phoenix, Arizona.
      </p>
      <div class="mt-6 flex gap-6">
        {
          socialLinks.map(({ ariaLabel, href, Icon }) => (
            <a class="group -m-1 p-1" href={href} aria-label={ariaLabel}>
              <Icon className="size-6 text-zinc-500 transition group-hover:text-zinc-600 dark:text-zinc-400 dark:group-hover:text-zinc-300" />
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <div class="container py-16 grid grid-cols-1 lg:grid-cols-2 gap-x-16">
    <div>
      <div class="border-b border-zinc-200 py-5">
        <div
          class="-ml-4 -mt-4 flex flex-wrap items-center justify-between sm:flex-nowrap"
        >
          <div class="ml-4 mt-4">
            <h2
              class="text-base font-semibold text-zinc-900 dark:text-zinc-50"
            >
              Code Snippets
            </h2>
            <p class="mt-1 text-sm text-zinc-500 dark:text-zinc-200">
              Code snippets I find myself using often that are easy to copy
              & paste.
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-16">
        <ul role="list" class="divide-y divide-zinc-100">
          {
            featuredSnippetsPosts.map((post) => (
              <SnippetBlogPostSummary post={post} />
            ))
          }
          <li class="pl-4 pt-4 shrink-0 text-center dark:text-zinc-200">
            <a href="/blog" class="underline">View All Posts</a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="border-b border-zinc-200 py-5">
        <div
          class="-ml-4 -mt-4 flex flex-wrap items-center justify-between sm:flex-nowrap"
        >
          <div class="ml-4 mt-4">
            <h2
              class="text-base font-semibold text-zinc-900 dark:text-zinc-50"
            >
              Projects
            </h2>
            <p class="mt-1 text-sm text-zinc-500 dark:text-zinc-200">
              Take a look at what I'm currently working on
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-16">
        <ul role="list" class="divide-y divide-zinc-100">
          {
            projects.map((project) => (
              <li>
                <div class="flex gap-x-4 py-5 md:p-5">
                  <div class="flex flex-col text-sm/6 gap-y-1">
                    <div class="flex flex-row items-center gap-x-3 font-semibold text-zinc-900 dark:text-zinc-50">
                      <p>{project.projectName}</p>

                      {project.sourceCodeURL && (
                        <a
                          href={project.sourceCodeURL}
                          aria-label="Source Code"
                        >
                          <GithubIcon />
                        </a>
                      )}
                      <a
                        href={project.deployURL}
                        aria-label="Live Preview"
                      >
                        <ExternalLinkIcon />
                      </a>
                    </div>
                    <div class="flex flex-col md:flex-row gap-2 whitespace-nowrap">
                      {project.techUsed.map((tag) => (
                        <span class="w-max inline-flex items-center rounded-full bg-zinc-50 px-2 py-0.5 text-xs font-medium text-zinc-600 ring-1 ring-inset ring-zinc-500/10">
                          {tag}
                        </span>
                      ))}
                    </div>
                    <p class="mt-1 text-sm/6 text-zinc-600 dark:text-zinc-50">
                      {project.description}
                    </p>
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
  <!-- <div
    class="mx-auto grid max-w-xlm grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
  >
    <div class="space-y-10 lg:pl-16 xl:pl-24">
      <Newsletter />
      <Resume />
    </div>
  </div> -->
</BaseLayout>
