---
import BaseLayout from '@layouts/BaseLayout.astro';

export interface Props {
  frontmatter: {
    /** The page title */
    meta_title: string;
    /** The meta description */
    meta_description: string;
    /** Is this blog post ready to be built & published? */
    draft: boolean;
    /** When was this post created? */
    dateCreated: string;
    /** When was this post last edited? */
    lastUpdated: string;
    title: string;
    minutesRead?: string;
    wordCount?: number;
    /** What topics are covered in this blog post */
    tags?: string[];
    nextPage?: string;
    prevPage?: string;
  };
}
export type { Props as BlogLayoutProps };

const {
  meta_title,
  meta_description,
  title,
  minutesRead,
  wordCount,
  lastUpdated,
} = Astro.props.frontmatter;

if (!meta_description) throw new Error('Add a meta description');
---

<BaseLayout meta_title={meta_title} meta_description={meta_description}>
  <section class="container py-20">
    <div class="flex flex-col">
      <h1 class="font-bold text-3xl mb-4">
        {title}
      </h1>
      {
        minutesRead && (
          <h2 class="font-light text-neutral-500">{minutesRead}</h2>
        )
      }
      {
        wordCount && (
          <h3 class="font-light text-neutral-500">{wordCount} words</h3>
        )
      }
      <h4 class="font-light text-neutral-500">
        Last Updated:
        {
          new Date(lastUpdated).toLocaleDateString('en-US', {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          })
        }
      </h4>
    </div>

    <article class="mt-10 md:container prose dark:prose-p:text-zinc-100">
      <hr />
      <slot />
      <!-- children will go here -->
    </article>
  </section>
</BaseLayout>
